body {
  background-color: #CEE5D0;
}

hr {
  background-color: none;
  border-style: dotted;
  width: 5%;
}

img {
  height: 200px;
  background-color:red;
}

h1 {
  color: #03045E;
  font-size: 50px;

}

h3 {
  color: #19282F;
}
